# Esclude la cartella "water pump audio for anomaly detection"
water pump audio for anomaly detection/

# Esclude tutti i file con estensione .h5
*.h5

# Esclude tutti i file con estensione .keras
*.keras
